<!doctype html>
<html lang="" dir="">
  <head>
    {% include 'partials/title-styles-and-meta.njk' %}
    {# <link rel="canonical" href="{{ meta.url }}{{ page.url }}" /> #}

  </head>

  <body>
    {% include "header.njk" %}
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>

  </body>
</html>