{% set activePage = page.url %}

<header>

{# informacion de cabecera #}

{# fin informacion de cabecera #}

      {# <nav>
    <ul>
      {% for item in navigation[page.lang] %}
      <li>
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="https://github.com/Jestemrique">GitHub</a>
      </li>
    </ul>
  </nav> #}
</header>