<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{title}}</title>


<link
  rel="alternate"
  hreflang="x-default"
  href="{{ meta.url }}{{ page.url | locale_url('en') }}"
/>

{% if page.url === '/' %}
  <meta http-equiv="refresh" content="1; URL='{{ page.url | locale_url }}' ">
{% endif %}

<link rel="canonical" href="{{ meta.url }}{{ page.url }}" />
<meta name="description" content="{{ description }}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">


<link rel="stylesheet" type="text/css"  href="/assets/css/ep-styles.css"> 
<script src="https://kit.fontawesome.com/880501a14b.js" crossorigin="anonymous"></script>
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">





